.profile-progress-container {
  /* height: 100px; */
  margin-top: 30px;
  margin-bottom: 30px;
}

.profile-progress-container {
  display: flex;
  justify-content: center;
}

.profile-progress-step {
  display: flex;
  justify-content: center;
  height: 70px;
  margin: 0 50px;
  cursor: pointer;
}
.profile-progress-step p {
  color: var(--main-light-blue);
  align-self: center;
  font-family: var(--headerfont);
  font-size: 60px;
}
