.mainokset-container {
  display: flex;
  justify-content: center;
  /* background-color: red; */
  width: 100%;
  flex-direction: column;
}

.mainokset-header {
  /* background-color: blue; */
  display: flex;
  justify-content: center;
}
.mainokset-content h1 {
  align-self: center;
}
.mainokset-content {
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
}
.mainokset-footer {
  /* background-color: green; */
  display: flex;
  justify-content: center;
}
