.tyonalla-container {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 90%;
  margin-top: 20px;
  margin-left: 5%;
}

.tyonalla-card-container {
  display: flex;
  justify-content: center;
  width: 90%;
  height: 100%;
  flex-wrap: wrap;
  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

.tyonalla-card-container::-webkit-scrollbar {
  display: none;
}

.tyonalla-empty-container {
  display: flex;
  justify-content: center;
  width: 90%;
  align-self: center;
  height: 100%;
  /* background-color: red; */
  flex-direction: column;
  margin-top: 100px;
}

.tyonalla-empty-container h5 {
  color: var(--main-grey);
  text-align: center;
  font-family: var(--headerfont);
  font-size: 70px;
  font-weight: 500;
  line-height: 1.1;
  align-self: center;
  margin: 0;
  min-width: 500px;
  max-width: 500px;
  height: 100%;
}
.tyonalla-empty-uusimainos-btn {
  display: flex;
  align-self: center;
  justify-content: center;
  width: 500px;
  height: 120px;
  background-color: var(--main-light-blue);
  border-radius: 5px;
  margin-top: 10px;
  cursor: pointer;
}
.tyonalla-empty-uusimainos-btn:hover {
  background-color: var(--main-pink);
}
.tyonalla-empty-uusimainos-btn p {
  justify-content: center;
  align-self: center;
  margin: 0;
  font-size: 70px;
  font-family: var(--headerfont);
  font-weight: 500;
  color: #fff;
}

@media only screen and (max-width: 800px) {
  .tyonalla-card-container {
    /* overflow: hidden; */
    width: 100%;
    flex-direction: column;
  }
  .tyonalla-container {
    margin: 0;
    width: 100%;
  }
  .tyonalla-empty-container {
    transform: scale(0.7);
  }
}
