.esittely-container {
  display: flex;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  flex-direction: column;
}

.esittelybg {
  max-width: 100%;
  position: absolute;
  z-index: -1;
}

.esittely-header {
  display: flex;
  justify-content: center;
}

.esittely-content {
  /* background-color: red; */
  margin-top: 50px;
}
.esittely-footer {
  position: absolute;
  bottom: 0;
  background-color: green;

  display: flex;
  justify-content: center;
}
