.question-item {
  cursor: pointer;
  border-radius: 2px;
  display: flex;
  flex-direction: column;
  width: 100%;
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 10px 0px;
  background-color: rgb(52, 76, 100);
  /* padding: 10px 0px; */
  font-size: 20px;
  color: #fff;
}

.question-item p {
  margin: 10px;
  /* margin: 5px 0px; */
  /* padding: 10px; */
  /* text-align: center; */
}
#questiontext {
  /* margin: 10px 0px 0px 0; */
  /* padding: 0 10px; */
}
#answertext {
  /* text-align: center; */
  /* padding: px 10px; */
  background-color: red;
  border-top: 1px solid #fff;
  /* padding: 10px 0 10px 20px; */
  font-size: 18px;
  /* background-color: red; */
  /* width: 100%; */
  /* align-self: center; */
}

@media only screen and (max-width: 666px) {
}
