.omasivutab-container {
  display: flex;
  justify-content: center;
  /* background-color: red; */
  width: 100%;
  flex-direction: column;
}

.omasivutab-header {
  /* background-color: blue; */
  display: flex;
  justify-content: center;
}
.omasivutab-content h1 {
  align-self: center;
}
.omasivutab-content {
  /* background-color: yellow; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 100px;
}
.omasivutab-footer {
  /* background-color: green; */
  display: flex;
  justify-content: center;
}
.omatmainokset-container {
  display: flex;
  align-self: center;
  flex-direction: column;
  height: 300px;
  /* background-color: red; */
  justify-content: center;
  width: 100%;
}

.omatmainokset-container h2 {
  margin-left: 25px;
  margin-bottom: 5px;
}

.omatmainokset-card-container::-webkit-scrollbar {
  display: none;
}
.omatmainokset-card-container {
  display: flex;
  /* background-color: rgba(17, 50, 77, 0.3); */
  height: 90%;
  align-self: center;
  width: 100%;
  overflow-x: scroll;
  /* padding-left: 100px; */
  /* padding-left: 100px; */
}
.omatmainokset-card {
  align-self: center;
  display: flex;
  height: 90%;
  min-width: 300px;
  max-width: 300px;
  background-color: yellow;
  margin: 0 20px;
  /* border-radius: 5px; */
}

.omatmainokset-card img {
  width: 100%;
  border-radius: 5px;
}
