.omatmainokset-container {
  height: 100%;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
}

.omatmainokset-header {
  font-size: 80px;
  color: #fff;
  font-family: var(--headerfont);
  font-weight: 200;
  letter-spacing: 1px;
  color: #343a40;
  padding-left: 5px;
  margin: 0;
}

.omatmainokset-card-container {
  display: flex;
}
.omatmainokset-card-container h1 {
  color: white;
  text-align: center;
  font-size: 30px;
  font-weight: 400;
}

.omatmainokset-card {
  border-radius: 10px;
  margin-right: 50px;
  width: 300px;
  height: 350px;
  background-color: #343a40;
}
.omatmainokset-card2 {
  border-radius: 10px;
  margin-right: 50px;
  width: 300px;
  height: 350px;
  background-color: #fe7224;
}
.omatmainokset-card3 {
  border-radius: 10px;
  margin-right: 50px;
  width: 300px;
  height: 350px;
  background-color: #7ea2ae;
}

.omatmainokset-uusimainos-btn {
  background-color: red;
  display: flex;
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: #343a40;
  border-radius: 5px;
  margin-top: 50px;
  cursor: pointer;
}

.omatmainokset-uusimainos-btn p {
  font-size: 28px;
  align-self: center;
  color: #fff;
}

.omatmainokset-uusimainos-btn:hover {
  opacity: 0.8;
}
