.mainokseni-con {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.mainokseni-arkisto-btn {
  margin-top: 50px;
  border-radius: 5px;
  width: 150px;
  display: flex;
  justify-content: center;
  background-color: var(--main-grey);
  align-self: center;
  cursor: pointer;
}
.mainokseni-arkisto-btn:hover {
  opacity: 0.8;
}

.mainokseni-arkisto-btn > p {
  color: #fff;
  font-size: 20px;
  margin: 10px 10px;
  align-self: center;
}

.mainokseni-container {
  display: flex;
  align-self: center;
  justify-content: space-between;
  width: 45%;
}

.mainokseni-grp {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 50px 20px 0 20px;
}

.mainokseni-btn {
  display: flex;
  justify-content: center;
  padding: 20px 10px;
  height: 100px;
  background-color: var(--main-light-blue);
  border-radius: 5px;
  cursor: pointer;
}

.mainokseni-btn:hover {
  opacity: 0.8;
}

.mainokseni-btn > p {
  font-size: 25px;
  align-self: center;
  color: #fff;
}

#mainokseni-uusimainosbtn {
  background-color: var(--main-pink);
}

.mainokseni-info {
  width: 100%;
  text-align: center;
  font-size: 18px;
  /* background-color: red; */
}
