.uusimainos-progress-container {
  /* height: 100px; */
  margin-top: 30px;
  margin-bottom: 30px;
}

.uusimainos-progress-container {
  display: flex;
  justify-content: center;
}

.uusimainos-progress-step {
  display: flex;
  justify-content: center;
  width: 150px;
  /* color: var(--light-blue); */
  /* background-color: #343a40; */
  height: 70px;
  margin: 0 30px;
  cursor: pointer;
}
.uusimainos-progress-step p {
  color: var(--main-light-blue);
  align-self: center;
  font-family: var(--headerfont);
  font-size: 60px;
}

@media only screen and (max-width: 800px) {
  .uusimainos-progress-step {
    width: 25px;
  }
  .uusimainos-progress-step > p {
    font-size: 30px;
  }
}
