.uusimainosjulkaisu-container {
  width: 80%;
  display: flex;
  flex-direction: row;
  align-self: center;
}

.jotainputtuu-container {
  margin-top: 50px;
  margin-bottom: -50px;
  display: flex;
  justify-content: center;
  /* background: red; */
}

.jotainputtuu-container p {
  font-size: 50px;
  margin: 0;
}

.adnameinput-container {
  display: flex;
  align-self: center;
  justify-content: center;
  flex-direction: column;
  width: 20%;
  /* background-color: red; */
}
.adnameinput-container h5 {
  align-self: center;
  font-size: 20px;
  margin: 10px;
}
.adnameinput-container input {
  align-self: center;
  font-size: 25px;
  width: 70%;
  text-align: center;
  border: none;
  background: none;
  border-bottom: 3px solid grey;
  margin: 10px;
}

.adnameinput-container input:focus {
  outline: none;
}

.uusimainosjulkaisu-image-container {
  display: flex;
  justify-content: center;
  width: 50%;
  height: 500px;
}
.uusimainosjulkaisu-image-container img {
  align-self: center;
  max-height: 400px;
  max-width: 100%;
}

.uusimainosjulkaisu-info-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-self: center;
  width: 50%;
  height: 100%;
}

.uusimainosjulkaisu-info-container h2 {
  align-self: center;
}
.uusimainosjulkaisu-paivamaara {
  display: flex;
  align-self: center;
}
.uusimainosjulkaisu-paivamaara p {
  font-size: 30px;
  margin: 0 10px;
}

.uusimainosjulkaisu-paikat-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.uusimainosjulkaisu-paikat-container p {
  align-self: center;
}

.uusimainosjulkaisu-julkaise-btn {
  border: none;
  background-color: var(--main-grey);
  width: 200px;
  display: flex;
  border-radius: 5px;
  justify-content: center;
  color: #fff;
  align-self: center;
  cursor: pointer;
}

.uusimainosjulkaisu-julkaise-btn:hover {
  opacity: 0.8;
}
