.uusimainosaika-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  height: 100%;
  /* max-height: 600px; */
  /* background-color: purple; */
  align-self: center;
}

.paivamaarat-headers {
  display: flex;
  align-self: center;
  color: var(--main-grey);
}
.paivamaarat {
  display: flex;
  align-self: center;
  /* height: 250px; */
  /* background-color: red; */
}

.paivamaarat-headers p {
  display: flex;
  align-self: center;
  color: var(--main-grey);
  font-family: var(--headerfont);
  font-size: 50px;
  margin-bottom: 10px;
}

.paivamaarat p {
  margin: 5px 10px 15px 0;
  font-size: 50px;
  color: var(--main-grey);
}

.my-custom-input-class {
  background-color: var(--main-grey);
  border: none;
  align-self: center;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  padding: 15px 15px;
  color: white;
  border-radius: 5px;
}

.my-custom-input-class:hover {
  opacity: 0.8;
}

.my-custom-input-class:focus {
  border: none;
}

.mainosaikabtn {
  display: flex;
  justify-content: center;
  width: 100%;
}

.my-custom-input-class::placeholder {
  color: #fff;
}
