@import url("../../config/main.css");

.uusimainoskuva-container {
  width: 80%;
  display: flex;
  align-self: center;
  flex-direction: column;
  margin-bottom: 50px;
}

.uusimainoskuva-omakuva-container {
  display: flex;
  align-self: center;
  flex-direction: column;
  height: 100%;
}

.uusimainoskuva-omakuva-container > p {
  align-self: center;
  margin-top: 30px;
  color: var(--main-grey);
  font-family: var(--headerfont);
  font-size: 50px;
  margin-bottom: 10px;
}

.uusimainoskuva-omakuva-lisaa-btn {
  cursor: pointer;
  align-self: center;
  width: 250px;
  height: 100px;
  display: flex;
  justify-content: center;
  color: #fff;
  border-radius: 5px;
  background-color: var(--main-light-blue);
}
.uusimainoskuva-omakuva-lisaa-btn:hover {
  background-color: var(--main-pink);
}

.uusimainoskuva-omakuva-lisaa-btn p {
  align-self: center;
  font-size: 25px;
  margin: 0;
  justify-content: center;
  color: #fff;
}

.uusimainoskuva-omakuva-preview {
  align-self: center;
  margin-bottom: 20px;
  width: 600px;
  /* min-width: 80%; */
  max-width: 90%;
  border-radius: 5px;
  max-height: 300px;
}

.uusimainoskuva-apua-content {
  /* background-color: red; */
  display: flex;
  align-self: center;
  width: 100%;
  flex-direction: column;
  margin-top: 50px;
  justify-content: center;
  font-size: 20px;
}

.uusimainoskuva-apua-content > p {
  align-self: center;
  margin-top: 30px;
  color: var(--main-grey);
  font-family: var(--headerfont);
  font-size: 50px;
  margin-bottom: 10px;
}

.uusimainoskuva-apua-btn {
  cursor: pointer;
  align-self: center;
  width: 250px;
  height: 100px;
  display: flex;
  justify-content: center;
  color: #fff;
  border-radius: 5px;
  background-color: var(--main-light-blue);
  margin-bottom: 20px;
}
.uusimainoskuva-apua-btn:hover {
  background-color: var(--main-pink);
}

.uusimainoskuva-apua-btn > p {
  align-self: center;
  font-size: 25px;
  margin: 0;
  justify-content: center;
  color: #fff;
}

.uusimainoskuva-logos {
  width: 400px;
  align-self: center;
}

#uusimainosinfo {
  font-family: var(--mainfont);
  font-size: 30px;
  margin: 0;
}

#uusimainosinfoheader {
  margin-bottom: -10px;
}

.uusimainos-exp-box {
  width: 220px;
  display: flex;
  margin-top: 20px;
  align-self: center;
  justify-content: center;
  border: 1px solid #aaa;
  /* border-radius: 5px; */
}
.uusimainos-exp-box p {
  font-size: 14px;
  align-self: center;
  text-align: center;
  margin: 0;
  padding: 10px 10px;
}

.uusimainoskuva-kuvatab-container {
  display: flex;
  align-self: center;
  /* background-color: red; */
  justify-content: center;
  flex-direction: column;
  margin-top: 50px;
}
.uusimainoskuva-kuvatab-container > p:first-child {
  font-family: var(--headerfont);
  align-self: center;
  font-size: 50px;
  margin: 0;
  color: var(--main-grey);
}

.uusimainoskuva-kuvatab-container > p {
  font-size: 20px;
  align-self: center;
  margin: 0;
  color: var(--main-grey);
}

.uusimainoskuva-kuvatab-container > p > span {
  font-weight: 600;
}
.uusimainoskuva-omakuva-preview-empty {
  align-self: center;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
  width: 600px;
  /* min-width: 80%; */
  max-width: 90%;
  border-radius: 5px;
  height: 300px;
  border: 2px solid var(--main-grey);
}
.uusimainoskuva-omakuva-preview-empty > p {
  font-family: var(--headerfont);
  font-size: 5em;
  align-self: center;
  color: var(--main-grey);
}
