.uusimainosaika-container {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 90%;
  max-width: 1500px;
  height: 100%;
  align-self: center;
}

.paivamaarat-headers {
  display: flex;
  align-self: center;
  color: var(--main-grey);
}
.paivamaarat {
  display: flex;
  align-self: center;
}

.paivamaarat-headers > p {
  display: flex;
  align-self: center;
  color: var(--main-grey);
  font-family: var(--headerfont);
  font-size: 50px;
  margin-bottom: 10px;
}

.paivamaarat p {
  margin: 5px 10px 15px 0;
  font-size: 25px;
  font-weight: 500;
  color: var(--main-grey);
}

.my-custom-input-class {
  background-color: var(--main-grey);
  border: none;
  align-self: center;
  cursor: pointer;
  font-size: 20px;
  text-align: center;
  padding: 15px 15px;
  /* margin-top: 150px; */
  color: white;
  border-radius: 5px;
}

.my-custom-input-class:hover {
  opacity: 0.8;
}

.my-custom-input-class:focus {
  border: none;
}

.mainosaikabtn {
  display: flex;
  justify-content: center;
  width: 100%;
}

.my-custom-input-class::placeholder {
  color: #fff;
  opacity: 1;
}

.paivamaara-paketti-container {
  /* background-color: red; */
  display: flex;
  align-self: center;
  width: 60%;
  /* height: 80px; */
  flex-wrap: wrap;
  justify-content: center;
}
.paivamaara-paketti-card {
  display: flex;
  flex-direction: column;
  height: 60px;
  width: 200px;
  background-color: var(--main-light-blue);
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  margin: 10px;
}

.paivamaara-paketti-card > p {
  margin: 0;
  align-self: center;
  color: #fff;
  font-size: 23px;
  font-family: var(--headerfont);
}

.selected-paketti {
  display: flex;
  flex-direction: column;
  height: 60px;
  width: 200px;
  background-color: var(--main-pink);
  border-radius: 5px;
  cursor: pointer;
  justify-content: center;
  margin: 10px;
}

.selected-paketti > p {
  margin: 0;
  align-self: center;
  color: #fff;
  font-size: 23px;
  font-family: var(--headerfont);
}
.responsive-calendar {
  font-size: 15px !important;
  /* top: 100px !important; */
  align-self: center !important;
  box-shadow: 0px 0px 5px black !important;
}

.mainosaika-jatka-container {
  display: flex;
  justify-content: center;
}

.mainosaika-jatka-container > p {
  display: flex;
  align-self: center;
  color: var(--main-grey);
  font-family: var(--headerfont);
  font-size: 50px;
  margin-bottom: 10px;
}

.ajat-cont {
  display: flex;
  justify-content: center;
  width: 500px;
  height: 50px;
}
