.formitem input:focus {
  outline: none;
}

.formitem input {
  width: 100%;
  border: none;
  font-size: 18px;
  padding: 5px 0px;
  margin-top: 15px;
  font-weight: 500;
  background-color: var(--main-grey);
  color: #fff;
  border-bottom: 1px solid #fff;
}

.formitem input::placeholder {
  color: #fff;
  opacity: 0.5;
}

.loginpopup-logintab-header {
  text-align: center;
}

.loginpopup-logintab-container {
  margin: 50px 20px;
}

.loginpopup-signin-container {
  margin: 50px 20px;
}

.loginpopup-logintab-header {
  margin-bottom: 10px;
  font-size: 35px;
  /* opacity: 0.7; */
}

@media only screen and (max-width: 666px) {
  .formitem {
    width: 100%;
  }
  .formitem input {
    width: 100%;
  }
  .loginpopup-logintab-header {
    font-size: 28px;
  }
}

.login-btn {
  cursor: pointer;
  border-radius: 5px;
  margin-top: 0px;
  display: flex;
  background-color: #fff;

  width: 130px;
  height: 40px;
  justify-content: center;
}
.login-btn p {
  align-self: center;
  color: black;
}

.login-btn:hover {
  opacity: 0.9;
}

.login-errmsg {
  color: #fff;
  font-weight: 500;
  font-size: 16px;
  position: relative;
  margin: 0;
  align-self: center;
}

.login-errmsg-container {
  display: flex;
  justify-content: center;
  /* background-color: red; */
  margin: 15px 0px;
  height: 20px;
}
